* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: white;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #fdfdfd;
}

/* .products-container */

.products-container {
    width: 100%;
    text-align: center;
}

.products-container hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
}

.products-container h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin: 10px 0;
}

.products-container-boxs {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 20px;
}

.products-container-box {
    background-color: #fff;
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-container-box img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.box-text {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    color: #323334;
    padding: 0 5px;
    font-weight: 400;
}

.box-text p {
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #384353;
}

.products-container p.shop-all {
    margin-top: 30px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #384353;
    letter-spacing: 0.8px;
}

.products-container .products-button {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 14px;
    color: #323334;
    border: none;
    background: none;
}


/* .feature-section */


.feature-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
}

.feature-text {
    background-color: #384353;
    color: #fff;
    flex: 1 1 50%;
    padding: 60px;
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    justify-content: center;
}

.feature-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #FCFDFD;
    font-family: 'Roboto', sans-serif;
}

.feature-text p {
    width: 75%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #DFDEDB;
    margin-bottom: 25px;
}

.feature-text a {
    font-weight: 400;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    border-bottom: 1px solid #fff;
    width: fit-content;
    font-family: 'Roboto', sans-serif;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.feature-text a:hover {
    color: #aaa;
    border-color: #aaa;
    font-family: 'Roboto', sans-serif;
}

.feature-image {
    flex: 1 1 50%;
    background-color: #f5f5f5;
}

.feature-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@media (max-width: 768px) {
    .feature-section {
        flex-direction: column;
    }

    .feature-text,
    .feature-image {
        flex: 1 1 100%;
        padding: 30px;
    }

    .feature-text {
        text-align: center;
    }

    .feature-text a {
        margin: 0 auto;
    }
}

/* room-section */

.room-section {
    position: relative;
    width: 100%;
    height: 120vh;
}

.product-card {
    position: absolute;
    width: 291px;
    height: 365px;
    background: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    padding: 20px;
    border-radius: 6px;
    text-align: center;
}

.nams {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card img {
    width: 251px;
    height: 301px;
    border-radius: 4px;
}

.product-card .name {
    margin-top: 8px;
    font-size: 12px;
    color: #333;
    letter-spacing: 0.5px;
}

.product-card .price {
    margin-top: 2px;
    font-size: 12px;
    color: #555;
    font-weight: bold;
}

.left-card {
    top: 80px;
    left: 80px;
}

.right-card {
    bottom: 80px;
    right: 80px;
}

/* responsice */
@media (max-width: 768px) {
    .product-card {
        width: 150px;
    }

    .left-card {
        top: 30px;
        left: 20px;
    }

    .right-card {
        bottom: 30px;
        right: 20px;
    }
}


/* .sctionciziq */

.sctionciziq {
    width: 100%;
    position: relative;
    height: 95vh;
    z-index: 1;
}

.page-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #384353;
    border: 1px solid #7da4c2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-label {
    text-orientation: upright;
    position: absolute;
    left: 0;
    height: 91.7%;
    background-color: #384353;
    color: white;
    padding: 20px 20px;
    border-right: 1px solid #aaa;
    display: flex;
    justify-content: center;
    align-items: end;
}

.side-label p {
    writing-mode: sideways-lr;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.main-content {
    display: flex;
    flex: 1;
    height: 600px;
}

.left-panel {
    flex: 1.8;
    background-color: #384353;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-right: 1px solid #aaa;
    padding: 20px;
    text-align: center;
    gap: 400px;
}

.left-panel h1 {
    font-size: 56px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.left-panel .desc {
    font-size: 16px;
    line-height: 1.6;
}

.right-panel {
    flex: 2;
    display: flex;
    flex-direction: column;
    background-color: #384353;
}

.right-panel hr {
    margin-top: 22px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
    color: white;
    font-size: 14px;
    border-bottom: 1px solid #aaa;
    letter-spacing: 1px;
}

.image-section {
    width: 95.5%;
    background-color: #f0f0f0;
    margin: 22px;
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}

.image-section img {
    width: 95%;
    max-height: 500px;
    margin: -60px 0px 20px 0px;
}

.image-footer {
    width: 95%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #666;
    padding: 0 5px 10px;
}

.details {
    border-top: 1px solid #aaa;
    font-size: 14px;
    color: white;
}

.details div {
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    border-bottom: 1px solid #aaa;
}

.footer-text {
    background-color: #384353;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 35px;
    font-weight: 400;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

.product-grid {
    background-color: #384353;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-grid-header {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 30px;
}

.product {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.product img {
    width: 90%;
    height: 420px;
    margin-bottom: 30px;
}

.product .info {
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 0 5px;
}

.shop-all {
    text-align: center;
    background-color: #384353;
    color: white;
    padding: 15px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #384353;
    font-family: 'Roboto', sans-serif;
    padding: 0 4px;
}

.shop-all {
    text-align: center;
    background-color: #384353;
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    letter-spacing: 1px;
}

.shop-all button {
    background-color: #384353;
    color: white;
    border: none;
}

@media screen and (max-width: 1024px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}




.details-section {
    width: 100%;
    height: 100%;
    position: relative;
    padding-left: 60px;
}

.layout-table {
    width: 100%;
    height: 100%;
    border-spacing: 20px;
    border-left: 1px solid #DFDEDB;
}

.layout-row {
    position: relative;
}

.text-content {
    width: 50%;
    height: 500px;
    text-align: center;
    padding-bottom: 40px;
}

.text-content h1 {
    font-size: 72px;
    color: #323334;
    margin-bottom: 10px;
    font-weight: 400;
}

.text-content h4 {
    font-size: 0.75rem;
    color: #666;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}

.text-content p {
    font-size: 15px;
    color: #323334;
    line-height: 1.7;
    font-weight: 400;
}

.image-headers {
    width: 100%;
    border-bottom: 1px solid #dfdedb00;
    position: absolute;
    margin-top: 525px;
    margin-left: -60px;
}

.image-row {
    width: 100%;
    height: 707px;
}

.left-image {
    width: 80%;
}

.left-image img {
    width: 100%;
    height: 82vh;
}

.right-images {
    vertical-align: top;
    height: 100%;
}

.right-images .small-img {
    width: 100%;
    height: 45%;
    margin-bottom: 16px;
}

.right-images .small-img_two {
    width: 100%;
    height: 52%;
}

.right-hr {
    border-left: 1px solid #DFDEDB;
    width: 1px;
    height: 86vh;
    position: absolute;
    left: 79.7%;
    bottom: 0;
}

.vertical-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    left: 30px;
    position: absolute;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: left top;
    font-size: 24px;
    letter-spacing: 5px;
    color: #323334;
    padding-left: 30px;
}





.article-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.articles-containers {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.articles-images {
    position: relative;
    width: 100%;
}

.article-image_one {
    width: 100%;
    height: 100vh;
    display: block;
}

.article-image_two {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: auto;
    z-index: 2;
}

.article-container {
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    font-family: 'Georgia', serif;
    background-color: #ffffff;
}

.article-container h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: 400;
    color: #323334
}

.article-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
    border-top: 1px solid #ddd;
    position: relative;
}

.article-box .paragraph {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    letter-spacing: 2px;
    font-size: 12px;
    color: #444;
    text-transform: uppercase;
    font-weight: 500;
    border-left: 1px solid #ddd;
    height: 780px;
    top: 0;
    padding: 20px 20px 0 20px;
}

.article-Pias {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;
    position: absolute;
}

.article-Pia {
    width: 50%;
    padding-left: 123px;
}

.article-Pia h3 {
    font-size: 56px;
    font-weight: 400;
    line-height: 1.3;
    color: #323334;
    margin-bottom: 20px;
}

.article-Pia p {
    font-size: 18px;
    color: #444;
    line-height: 1.6;
    font-weight: 400;
    margin-bottom: 26px;
}

.article-Pia p:last-child {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 10px;
    cursor: pointer;
}

.pia-images {
    flex: 1 1 40%;
    width: 30%;
    padding-right: 93px;
}

.pia-images img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
}